- var id = 'date-' + day;
section.list.js-todo-day-list(class=active, data-day=day, id=id, data-locale-section="needCalculate" data-locale-calculate="day")
  div.list-title
    a.js-day-toggle.js-translateble(href="#", data-day=day, data-locale-section="needCalculate", data-locale-calculate="day") #{dayTitle}
  ul.list-items.js-list-items